@model ResetPasswordViewModel
<div>
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group form-check">
            <input type="hidden" asp-for="Token" class="form-control"/>
            <input type="hidden" asp-for="UserId" class="form-control"/>
        </div>
    </div>
</div>