@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="container">
    <div class="row justify-content-center">
        <div>
            <div>
                <h1 class="text-primary">Your email is confirmed successfully</h1>
                <h5>Also your documents are being verified. Once verified, you will be notified by an email then you can log in to your account, make sure to keep checking your email!</h5>
                <h5>Welcome aboard Doctor!</h5>
            </div>
            <div class="text-center">
                <img src="https://cdn.dribbble.com/users/2190413/screenshots/15000924/media/253032da33210e73a554dfc6c6941cce.gif"/>
            </div>
        </div>
    </div>
</div>
