<div class="container">
    <div class="row justify-content-center">
        <div>
            <h1>Your Email is confirmed successfully</h1>
            <div>
                <a asp-action="Login" asp-controller="Account" class="btn btn-primary">click here to login!</a>
            </div>
        </div>
    </div>
</div>
