@model Etammen.ViewModels.ForgotPasswordViewmodel
@section Head
{
    <link rel="stylesheet" href="/assets/css/styles.min.css" />
}

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-6 col-lg-6 col-xxl-4">
                        <div class="card mb-0">
                            <div class="card-body">
                                <p>Enter an email or phone number associated to the account to reset your password.</p>
                                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Select Option:</label><br>
                                            <input type="radio" name="ResetOption" value="email" checked> Email<br>
                                            <input type="radio" name="ResetOption" value="phone"> Phone Number<br>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Email" id="emailLabel" class="control-label"></label>
                                            <input asp-for="Email" id="email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                       <div class="form-group">
                                            <label asp-for="PhoneNumber" id="phoneLabel" class="control-label">Phone Number</label>
                                            <input asp-for="PhoneNumber" id="phone" class="form-control" />
                                           <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                       </div>
                                    </div>
                                    <br />
                                    <div class="form-group d-flex justify-content-center">
                                        <br />
                                            <input type="submit" value="Reset" class="btn btn-primary col-md-4" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const emailLabel = document.getElementById("emailLabel");
        const email = document.getElementById("email");

        const phoneLabel = document.getElementById("phoneLabel");
        const phone = document.getElementById("phone");

        const radios = document.querySelectorAll('input[type=radio]');

        phoneLabel.style.display = "none";
        phone.style.display = "none";

        radios.forEach(function (radioBtn) {
            radioBtn.addEventListener("input", function (){
                if(this.value === 'email')
                {
                    email.style.display = 'block';
                    emailLabel.style.display = 'block';
                    phone.style.display = 'none';
                    phoneLabel.style.display = 'none';

                }
                else if (this.value === 'phone')
                {
                    email.style.display = 'none';
                    emailLabel.style.display = 'none';
                    phone.style.display = 'block';
                    phoneLabel.style.display = 'block';
                } 
            });
        });

    </script>
</body>