@model Etammen.ViewModels.LoginViewModel
@section Head
{
    <link rel="stylesheet" href="/assets/css/styles.min.css" />
}
@{
    ViewData["Title"] = "Login";
}

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-6 col-lg-6 col-xxl-4">
                        <div class="card mb-0">
                            <div class="card-body">
                                <p class="text-center">Welcome Back!</p>
                                <div class=" mb-3">
                                    <hr />
                                    <p class="text-center text-blue header mb-0">Connect With Facebook or Google</p>
                                </div>
                                <partial name="_ExternalAuthinticationPartial" />
                                <hr />

                                <form asp-action="Login" asp-controller="Account" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Password" class="control-label"></label>
                                                <input asp-for="Password" class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group form-check">
                                                <input class="form-check-input" asp-for="RememberMe" />
                                                <label class="form-check-label">Remember me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group  d-flex justify-content-center">
                                        <input type="submit" value="Log in" class="btn btn-primary col-md-4" />
                                    </div>
                                    <br />

                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Forgot password?&nbsp</p>
                                        <a class="fs-4 mb-0 fw-bold" asp-action="ForgotPassword" asp-controller="Account">Reset password</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">New to Etammen?&nbsp</p>
                                        <a class="fs-4 mb-0 fw-bold" asp-action="Register" asp-controller="Account">Join Etammen</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>