<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Fees refunded back. thank you</h1>
        </div>
        <div>
            <a class="btn btn-primary" asp-action="Delete" asp-controller="Appoitment">back</a>
        </div>
    </div>
</div>
