<div class="container">
    <div class="row justify-content-left">
        <div>
            <div>
                <h1>You have registered successfully</h1>
                <p>Please check your email for confirmation link</p>
                <p>Email confirmation link is valid for a week. Please make sure to confirm it to be able to <a asp-controller="Account" asp-action="Login">log in</a> to your account.</p>
            </div>
        </div>
    </div>
</div>
