@model Etammen.ViewModels.PatientRegisterViewModel

@section Head
{
    <head>
        <link rel="stylesheet" href="/assets/css/styles.min.css"/>
    </head>
}

<body>
    @{
        SelectList Governerates = new SelectList(Model.GovCitiesDict.Keys.ToList());
    }

    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-12 col-lg-12 col-xxl-6">
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="bg-white mb-3">
                                    <p class="text-center text-blue header mb-2">Connect With Facebook or Google</p>
                                    <partial name="_ExternalAuthinticationPartial" />
                                </div>
                                <form asp-action="Register" asp-controller="Account" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="FirstName" class="control-label">First Name</label>
                                                <input asp-for="FirstName" class="form-control"/>
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="LastName" class="control-label">Last Name</label>
                                                <input asp-for="LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="UserName" class="control-label">Username</label>
                                                <input asp-for="UserName" class="form-control" />
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Age" class="control-label"></label>
                                                <input asp-for="Age" class="form-control" min="25" max="70" value="None"/>
                                                <span asp-validation-for="Age" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Password" class="control-label"></label>
                                                <input asp-for="Password" class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                                                <input asp-for="ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                                                <input asp-for="PhoneNumber" class="form-control" />
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Gender" class="control-label"></label>
                                                <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                                                <span asp-validation-for="Gender" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="StreetAddress" class="control-label">Street Address</label>
                                                <input asp-for="StreetAddress" class="form-control"/>
                                                <span asp-validation-for="StreetAddress" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="governorate" class="control-label">Governorate</label>
                                                <select asp-for="governorate" asp-items="Governerates" id="govList" class="form-control"></select>
                                                <span asp-validation-for="governorate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="City" class="control-label"></label>
                                                <select name="City" id="cityList" class="form-control"></select>
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <br /> 
                                    <div class="form-group d-flex justify-content-center">
                                        <input type="submit" value="Register" class="btn btn-primary col-md-4" />
                                    </div>
                                    <br />
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-3 mb-0 fw-bold">Already have an Account?&nbsp</p>
                                        <a class="fs-3 mb-0 fw-bold" asp-action="Login" asp-controller="Account">Login</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-3 mb-0 fw-bold">Are you a doctor ?&nbsp</p>
                                        <a class="fs-3 mb-0 fw-bold" asp-action="RegisterDoctor" asp-controller="Account">Join Etammen for doctors</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script>
            const govList = document.getElementById("govList");
            const cityList = document.getElementById("cityList");
            const cities = {};

            if(govList.value == "ALL"){
                cityList.setAttribute("disabled","true");
            }
            @foreach(var pair in Model.GovCitiesDict)
            {
                <text>
                    cities["@pair.Key"] = [];
                </text>
                @foreach(string city in pair.Value)
                {
                   <text>
                       cities["@pair.Key"].push("@city")
                   </text>
                }
            }
            govList.addEventListener("change", function () {
                if (govList.value == "ALL") {
                    cityList.setAttribute("disabled", "true");
                }
                else {
                    cityList.removeAttribute("disabled");
                }
                    
                let selectedGovIndex = this.selectedIndex;
                let selectGovName = this.options[selectedGovIndex].text;
                let selectedGovCities = cities[selectGovName];
                cityList.innerHTML = '';


                for (const city of selectedGovCities) {
                    const option = document.createElement("option");
                    option.value = city;
                    option.text = city;
                    cityList.appendChild(option);
                }
            });
        </script>
</body>
