@model Etammen.ViewModels.ResetPasswordViewModel
@section Head
{
    <link rel="stylesheet" href="/assets/css/styles.min.css" />
}

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-6 col-lg-6 col-xxl-4">
                        <div class="card mb-0">
                            <div class="card-body">
                                <p class="text-center">Reset Password</p>
                                <p class="text-center">Please enter the OTP sent to your phone number to change your Password</p>

                                <div class="bg-primary mb-3">
                                </div>
                                <form asp-action="ResetPasswordOtp" asp-controller="Account" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Otp</label>
                                            <input  type="text" name="Otp" class="form-control" />
                                        </div>
                                    </div>
                                    <partial name="_ResetPasswordPartial" model="Model" />
                                    <br />
                                    <div class="form-group  d-flex justify-content-center">
                                        <input type="submit" value="Reset Password" class="btn btn-primary col-md-4" />
                                    </div>
                                    <br />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>