
<dl >
<dt class="col-sm-10">
    Do you Really Want To Deactivate Your Account?
</dt>
<p style="margin-left:35px">all you clinics and appointments will be deleted!!</p>
</dl>
<div >
    <a asp-action="DeactivateAccountConfirmed" asp-controller="Doctors" asp-route-id="@ViewBag.id" class="btn btn-outline-danger">Deactivate account</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">cancel</a>
    
</div>
