
@model Etammen.ViewModels.JSONMainViewModelHolder
@using System.Text.Json;

@{
    var myModel = JsonSerializer.Deserialize<MainViewModel>(Model.JSONdata);
    SelectList specialitiesSL = new SelectList(myModel.Specialties);

    SelectList Cities = null;
    SelectList Areas = new SelectList(new List<string> { "ALL" });

    if (myModel.City is null || myModel.City == "ALL")
        Cities = new SelectList(myModel.City_areaDict.Keys);
    else
    {
        Cities = new SelectList(myModel.City_areaDict.Keys, myModel.City);
        Areas = new SelectList(myModel.City_areaDict[myModel.City], myModel.Area ?? "ALL");
    }
}

<form id="Searchform" asp-action="Index" onsubmit="updateAndSubmit(event,'Searchform')">
    <input type="hidden" name="JSONdata"/>
    <select asp-items="specialitiesSL" class="form-select" name="specialty"></select>
    <label>City</label>
    <select asp-items="Cities" id="cityselectlist" class="form-select" name="city"></select>
    <label>Area</label>
    <select id="areaselectlist" class="form-select" name="area" asp-items="Areas">
    </select>
    <label>Doctor Name</label>
    <br />
    <input type="text" value="" placeholder="EX: Ahmed Mostafa" name="doctorName" class="form-text" />
    <br />
    <label>Clinic Name</label>
    <br />
    <input type="text" value="" placeholder="EX: ElAml" name="clinicName" class="form-text" />
    <br />
    <input id="submitBtnSearch" type="submit" value="Search" class="btn btn-primary" />
</form>


