
@model Etammen.ViewModels.JSONMainViewModelHolder
@using System.Text.Json;

@{
    var myModel = JsonSerializer.Deserialize<MainViewModel>(Model.JSONdata);
}

<form id="OrderForm" asp-action="Order" >

    <div class="filter-item">
        <a id="orderOptions" class="collapsible-trigger" data-target="title">Sort By</a>

        <div style="display:none" class="collapsible-content-gender" id="title-order">
            <input type="hidden" name="JSONdata" />

            <div class="checkbox">
                <input type="radio" class="orderBy" value="1" id="order1" name="ordername" @(myModel.Order == 1 ? "checked" : "") onchange="updateAndSubmit(event,'OrderForm')">
                <label for="order">Top Rated</label>
            </div>
            <div class="checkbox">
                <input type="radio" class="orderBy" value="2" id="order2" name="ordername" @(myModel.Order == 2 ? "checked" : "") onchange="updateAndSubmit(event,'OrderForm')">
                <label for="order2">Price Low To High</label>
            </div>  
            <div class="checkbox">
                <input type="radio" class="orderBy" value="3" id="order3" name="ordername" @(myModel.Order == 3 ? "checked" : "") onchange="updateAndSubmit(event,'OrderForm')">
                <label for="order3">Price High To Low</label>
            </div>
      
        </div>
    </div>

</form>


