@model ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
            <h1>Oops! Something went wrong.</h1>
            <p>We apologize for the inconvenience, but an error occurred while processing your request.</p>
            <p>Error details:</p>
            <pre>@Model.Message</pre>
            <p>Please try again later or contact support if the problem persists.</p>
</body>
</html>