@model ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <title>404 not found</title>
</head>
<body>
    <div class="imgContainer">
        <img src="/assets/images/backgrounds/404ErrorPic.png" />
    </div>
    <p>Error code: @Model.StatusCode</p>
    <pre>@Model.Message</pre>

</body>
</html>