<div class="container">
    <div class="row justify-content-center">
        <div>
            <div>
                <h1 class="text-success">Payment is Cancelled.</h1>
                <p>You will be redirected in 5 seconds</p>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        location.href = "/MyAppointments";
    }, 6000);
</script>