<div class="container">
    <div class="row justify-content-center">
        <div>
            <div>
                <h1 class="text-success">Your appointment was cancelled and payment was refunded successfully.</h1>
                <h4>It may take a few days for the money to reach your bank account</h4>
                <p>you will be redirected in 5 seconds</p>
            </div>
            <div>
                <img src="https://lordicon.com/icons/wired/lineal/2115-refund.gif"/>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        location.href = "/MyAppointments";
    }, 6000);
</script>