<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div>
                <h1>Payment is collected successfully, thank you.</h1>
                <p>you will be redirected in 5 seconds</p>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        location.href = "/Patient/AppointmentIndex";
    }, 6000);
</script>