@model GetDoctorByIdViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Dashboard/_AdminDashboard.cshtml";
}


<div class="doctor-card">
    @{
        Html.RenderPartial("_PartialViewDoctorCard");
    }
</div>
