@using Etammen.ViewModels

@model DoctorReviewViewModel
@{
    ViewData["Title"] = "Doctor reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <style>
        ::-webkit-scrollbar {
            width: 8px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

        html,
        body {
            height: 100%
        }

        body {
            display: grid;
            place-items: center;
            font-family: 'Manrope', sans-serif;
            background: #000;
        }





        .cross {
            padding: 10px;
            color: #d6312d;
            cursor: pointer;
            font-size: 23px;
        }

            .cross i {
                margin-top: -5px;
                cursor: pointer;
            }







        .comment-box {
            padding: 5px
        }

        .comment-area textarea {
            resize: none;
            border: 1px solid #ff0000
        }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #ffffff;
            outline: 0;
            box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
        }

        .send {
            color: #fff;
            background-color: #ff0000;
            border-color: #ff0000
        }

            .send:hover {
                color: #fff;
                background-color: #f50202;
                border-color: #f50202
            }

        .rating {
            display: inline-flex;
            margin-top: -10px;
            flex-direction: row-reverse;
        }

            .rating > input {
                display: none
            }

            .rating > label {
                position: relative;
                width: 28px;
                font-size: 35px;
                color: #ff0000;
                cursor: pointer;
            }

                .rating > label::before {
                    content: "\2605";
                    position: absolute;
                    opacity: 0
                }

                .rating > label:hover:before,
                .rating > label:hover ~ label:before {
                    opacity: 1 !important
                }

            .rating > input:checked ~ label:before {
                opacity: 1
            }

            .rating:hover > input:checked ~ label:before {
                opacity: 0.4
            }</style>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
}


    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form"> See Modal with Form </button>
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>
                <div class="card-body text-center">

                    <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
                    <form asp-action="DoctorReviews">
                        <input type="hidden" asp-for="DoctorId" />
                        <input type="hidden" asp-for="PatientId" />
                        <div class="comment-box text-center">
                            <h4>Add a comment</h4>
                            <div class="rating">
                                <input asp-for="Rate" type="radio" name="Rate" value="5" id="Rate_5">
                                <label for="Rate_5">☆</label>
                                <input asp-for="Rate" type="radio" name="Rate" value="4" id="Rate_4">
                                <label for="Rate_4">☆</label>
                                <input asp-for="Rate" type="radio" name="Rate" value="3" id="Rate_3">
                                <label for="Rate_3">☆</label>
                                <input asp-for="Rate" type="radio" name="Rate" value="2" id="Rate_2">
                                <label for="Rate_2">☆</label>
                                <input asp-for="Rate" type="radio" name="Rate" value="1" id="Rate_1">
                                <label for="Rate_1">☆</label>
                            </div>
                            <div class="comment-area">
                                <textarea asp-for="Comment" class="form-control" placeholder="what is your view?" rows="4">
                            </textarea>
                            </div>

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-success send px-5">Send message <i class="fa fa-long-arrow-right ml-1"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript'></script>
    <script type='text/javascript'>
        var myLink = document.querySelector('a[href="#"]');
        myLink.addEventListener('click', function (e) {
            e.preventDefault();
        });</script>
